[submodule "BlackJack"]
	path = BlackJack
	url = https://github.com/KostaLekos/BlackJack.git
[submodule "DriveParity"]
	path = DriveParity
	url = https://github.com/KostaLekos/DriveParity
[submodule "LetterCount"]
	path = LetterCount
	url = https://github.com/KostaLekos/LetterCount
[submodule "Recursion"]
	path = Recursion
	url = https://github.com/KostaLekos/Recursion
[submodule "LinkedList"]
	path = LinkedList
	url = https://github.com/KostaLekos/LinkedList
